body {
  font-family: 'Pathway Extreme', sans-serif;
  font-size: 16pt;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alignRight{
  text-align: right;
}

.alignLeft{
  text-align: left;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to bottom right, #d9d1ff, #818df7);
}

.appContainer{
  margin: auto;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-image: linear-gradient(to bottom right, #e0dafd, #959ffe);
  overflow: hidden;
  grid-template-columns: 11em auto 20rem;
}

.homePage{
  height:100%;
}

.cardsPanel{
  overflow-y: scroll;
  display: inline-flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  row-gap: 10px;
  height: 100%;
  width: calc(100%-20px);
}
